In [4]:
#Assignment 1
my_list=[10,20,30,"Apple",True,8.10]
my_list.append(30)
my_list.append(40)
print(my_list)
my_list.reverse() #this cannot be assigned to a new variable
print(my_list)
#reversed_list=[]
#for i in range(len(my_list)-1,-1,-1):
#    reversed_list.append(my_list[i])
#print(reversed_list)

[10, 20, 30, 'Apple', True, 8.1, 30, 40]
[40, 30, 8.1, True, 'Apple', 30, 20, 10]

In [32]:
#Assignment 2

dict1={1:"data",2:"information",3:"Text"}
list1 =list(dict1.keys())
list2=dict1.values()
print(list1)
for i in list1:
    if dict1[i] == "Text":
        dict1.pop(i)
print(dict1)

dict1[4]="Features"
print(dict1)
list1 =list(dict1.keys())
for i in list1:
    if dict1[i] == "data":
        print(dict1[i])

[1, 2, 3]
{1: 'data', 2: 'information'}
{1: 'data', 2: 'information', 4: 'Features'}
data

In [36]:
#assignment 3

t1=(1,2,3,"apple","mango")
t2=(10,20,30,40,50)
mini =min(t2)
r1=t1+t2
newdupli = t1*2
print(mini)
print(r1)
print(newdupli)

10
(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [40]:
#assignment 5

set1={1,2,3,4,5}
set2={2,3,7,6,1}

s3= set1.union(set2)
print(s3)
s4= set1.intersection(set2)
print(s4)
s5= set1- set2
print(s5)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4, 5}

# MODULE 2

In [4]:
#DS 2

t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print(t_combine)
print(t_combine[1])
print(t_combine[:3])
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
20
(10, 20, 30)
(40, 50, 60)

In [5]:
my_list=[(1,2,3),('a','b','c'),(True,False)]
my_list.append(["sparta",123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), ['sparta', 123]]

In [17]:
dict1={"Fruit":["apple","banana","mango","guava"],"cost":[85,30,40,90]}
print(dict1.values())
print(dict1.keys())

dict_values([['apple', 'banana', 'mango', 'guava'], [85, 30, 40, 90]])

In [18]:
set1={1,1,"a",True,"a","True",1,"a"}
print(set1)

{1, 'a', 'True'}

# MODULE3

In [10]:
year=int(input("Enter the year"))
if year %4==0:
    if year % 100 == 0 and year % 400 ==0:
        print("The year is a leap year")
    elif year % 100 == 0 and year %400 !=0:
        print("The year is not a leap year")
    else:
        print("The year is a leap year")
else:
    print("It is not a leap year")

Enter the year2003
It is not a leap year

In [15]:
l1=[pow(x,2) for x in range(1,10)]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
import numpy as np

def arr1(a1):
    a2=np.array([])
    r,c=np.shape(a1)
    print(r,c)
    for i in range(0,r):
        for j in range(0,c):
            if a1[i,j] %2 ==0:
                a2=np.append(a2,a1[i,j])
            else:
                a2=np.append(a2,0)
                print(i,j,a2)
    a2=a2.reshape(r,c)
    return a2

a1=np.array([[2,3,4,6,7],[2,3,4,6,6]])
a2=np.array(arr1(a1),dtype=int)
print("a2",a2)

2 5
0 1 [2. 0.]
0 4 [2. 0. 4. 6. 0.]
1 1 [2. 0. 4. 6. 0. 2. 0.]
a2 [[2 0 4 6 0]
 [2 0 4 6 6]]

In [80]:
def arr1(a1,a2):
    a3=np.array([])
    r,c=np.shape(a1)
    r1,c1=np.shape(a2)
    for i in range(0,r):
        for j in range(0,c):
            for i1 in range(0,r1):
                 for j1 in range(0,c1):
                    if a1[i,j] == a2[i1,j1]:
                        if a1[i,j] not in(a3):
                            a3=np.append(a3,a1[i,j])
    return a3
    

a1=np.array([[2,4],[6,9]])
a2=np.array([[2,4],[3,2],[6,12]])
a3=np.array(arr1(a1,a2),dtype=int)
print("a3",a3)

a3 [2 4 6]