In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
import math

In [4]:
df_data=pd.read_csv(r"C:\Users\Priyadarshini\Downloads\Python datasets\Linear_Regression.csv")

In [5]:
df_data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [41]:
x=pd.DataFrame(df_data.iloc[:,0])
y=pd.DataFrame(df_data.iloc[:,1])

(30, 1)

In [58]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.33)

In [59]:
Lin = LinearRegression()
Lin.fit(x_train,y_train)
y_pred=Lin.predict(x_test)
print("Mean absolute error",sklearn.metrics.mean_absolute_error(y_pred,y_test))
print("Squared mean error",sklearn.metrics.mean_squared_error(y_pred,y_test))
print("Root Mean squared error",math.sqrt(sklearn.metrics.mean_squared_error(y_pred,y_test)))
print("R squared",sklearn.metrics.r2_score(y_pred,y_test))

Mean absolute error 5049.818093659744
Squared mean error 37496296.6187984
Root Mean squared error 6123.421969683161
R squared 0.9065902677864944

In [65]:
scores = cross_val_score(Lin, x_train, y_train, scoring='r2', cv=3)
scores

array([0.93726698, 0.96506038, 0.94517109])

In [64]:
folds = KFold(n_splits = 3, shuffle = True, random_state = 20)
scores = cross_val_score(Lin, x_train, y_train, scoring='r2', cv=folds)
scores

array([0.96105035, 0.94523166, 0.93673758])