In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from surprise import Reader,SVD,Dataset
from surprise.model_selection import cross_validate

In [30]:
df_movings=pd.read_csv(r"C:\Users\Priyadarshini\Downloads\archive (7)\movies_metadata.csv")
df_ratings=pd.read_csv(r"C:\Users\Priyadarshini\Downloads\archive (7)\ratings_small.csv")

C:\Users\Priyadarshini\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [99]:
df_movings=df_movings.rename(columns={'id':'movieId'})
df_movings['movieId']=df_movings['movieId'].astype(str)
df_movings.info()
df_user1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   movieId                45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 3 to 16
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     7 non-null      int64
 1   movieId    7 non-null      int64
 2   rating     7 non-null      float64
 3   timestamp  7 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 280.0 bytes

In [48]:
df_ratings.head()
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [58]:
df_ratings.movieId.unique().shape[0]
df_movings.id.unique().shape[0]
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [51]:
df_ratings1=df_ratings.pivot(index='userId',columns='movieId',values='rating').fillna(0)
df_ratings1.head()
df_ratings1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671 entries, 1 to 671
Columns: 9066 entries, 1 to 163949
dtypes: float64(9066)
memory usage: 46.4 MB

In [43]:
read_movies=Reader()
svd_movies=SVD()

In [52]:
data=Dataset.load_from_df(df_ratings[['userId','movieId','rating']],read_movies)

In [55]:
cross_validate(svd_movies,data,measures=['RMSE','MAE'],cv=3,verbose=3)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.9003  0.9016  0.9063  0.9027  0.0026
MAE (testset)     0.6943  0.6963  0.6966  0.6958  0.0010
Fit time          3.79    3.75    3.79    3.78    0.02
Test time         0.24    0.20    0.27    0.24    0.03

{'test_rmse': array([0.90033353, 0.90155759, 0.90632157]),
 'test_mae': array([0.69432801, 0.69630945, 0.69661525]),
 'fit_time': (3.79481840133667, 3.752129316329956, 3.785550832748413),
 'test_time': (0.23790335655212402, 0.20403337478637695, 0.2687656879425049)}

In [106]:
user1_filter=((df_ratings['userId']==1) & (df_ratings['rating'] ==2))
df_user1=df_ratings[user1_filter]
df_user1.set_index('movieId')
df_user1['movieId']=df_user1['movieId'].astype(str)
df_user1=pd.merge(df_user1,df_movings,how='left',on='movieId')
df_user1.head()
df_user1=df_user1[['userId','movieId','rating','title']]
df_user1

<ipython-input-106-5af7b6d67f0f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user1['movieId']=df_user1['movieId'].astype(str)

   userId movieId  rating                           title
0       1    1129     2.0                             NaN
1       1    1263     2.0                             NaN
2       1    1287     2.0                             NaN
3       1    1293     2.0                             NaN
4       1    1343     2.0                             NaN
5       1    2193     2.0                        My Tutor
6       1    2294     2.0  Jay and Silent Bob Strike Back

In [119]:
user1=df_movings.copy()
user1.reset_index
user1.head()
user1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   movieId                45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [124]:
data_user1=Dataset.load_from_df(df_ratings[['userId','movieId','rating']],reader)
trainset=data_user1.build_full_trainset()
svd_movies.fit(trainset)
user1['Estimate_Score'] = user1['movieId'].apply(lambda x:svd_movies.predict(1,x).est)
user1=user1.sort_values('Estimate_Score',ascending=False)
print(user1[['movieId','title','Estimate_Score']].tail(10))

AttributeError: module 'surprise.reader' has no attribute 'rating_scale'